*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
    font-family: 'Poppins', sans-serif; 
}
:root{
    --bgcolor: #000000;
    --pcolor: #fff;
}

body{

}

header{
position: fixed;
width: 100%;
top:0;
right: 0;
z-index: 1000;
display: flex;
padding: 16px 11%;
align-items: center;
justify-content: space-between;
background: transparent;
transition: all .45s ease;
}

.logo{
font-size: 25px;
color: #ffff;
font-weight: bold;
}
.logo span{
color: #ffd000;
}
.naverbar{
    display: flex;
    align-items: center; 
}

.naverbar li{
position: relative;
}
.naverbar a{
    font-size: 16px;
    color: #ffff;
    padding: 4px 5px;
    margin: 0 22px;
    text-transform: capitalize;
    transition: all .45s ease;
}

.naverbar a::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background:#ffd000;
    left: 0;
    bottom: -4px;
    transition: ease .40s;
}

.naverbar a:hover::after{
    width: 100%;
}

.nav-list{
    display: flex;
    align-items: center;
}
.nav-list i{
    font-size: 28px;
    margin-right: 25px;
    color: #ffffff;
}
#menu-icon{
    font-size: 35px;
    color: #ffffff;
    z-index: 10001;
    cursor: pointer;
}

/* Home topic name */

section{
    padding: 120px 11%;
}
.home{
    width: 100%;
    height: 100vh;
    background-image: url(../img/slider5.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}
.home-text h4{
    color: var(--pcolor);
    font-size: 18px;
    font-weight: 500;
}
.home-text h1{
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
    color: #fff;
}
.home-text p {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    max-width: 460px;
    line-height: 28px;
    margin-bottom: 20px;
}
.home-text span{
    font-weight: bold;
}